@model PersonneModel
@{
    ViewData["Title"] = "AddClientForms";
}

<h2>Ajouter un client</h2>
<form asp-controller="Client" asp-action="ValidAddClient" method="post">
    @*<div>
            <label>Nom : </label><input type="text" name="nom" />
        </div>
        <div>
            <label>Prénom : </label><input type="text" name="prenom" />
        </div>*@
    <div>
        <label>Nom : </label><input asp-for="Nom" />
    </div>
    <div>
        <label>Prénom : </label><input asp-for="Prenom" />
    </div>
    <div>
        <button type="submit" class="btn btn-danger">Valider</button>
    </div>
</form>

